Config
{ chainSeekHost         = "127.0.0.1"
, chainSeekPort         = 13715
, chainSeekCommandPort  = 13720
, historyHost           = "127.0.0.1"
, historyCommandPort    = 13717
, historyQueryPort      = 13718
, historySyncPort       = 13719
, discoveryHost         = "127.0.0.1"
, discoveryQueryPort    = 13721
, discoverySyncPort     = 13722
, txHost                = "127.0.0.1"
, txCommandPort         = 13723
, timeoutSeconds        = 300
}
