Config
{ chainSeekHost         = "127.0.0.1"
, chainSeekPort         = 23715
, chainSeekCommandPort  = 23720
, historyHost           = "127.0.0.1"
, historyCommandPort    = 23717
, historyQueryPort      = 23718
, historySyncPort       = 23719
, discoveryHost         = "127.0.0.1"
, discoveryQueryPort    = 23721
, discoverySyncPort     = 23722
, txHost                = "127.0.0.1"
, txCommandPort         = 23723
, timeoutSeconds        = 300
}
