{{- range $instanceName, $instance := .Values.instances }}
{{- range $index, $network := $.Values.networks }}
---
apiVersion: core.oam.dev/v1beta1
kind: Application
metadata:
  name: marlowe-sync-{{ $network }}-{{ $instanceName }}
  namespace: {{ $.Values.namespace }}
  annotations:
    meta.helm.sh/release-name: {{ $.Values.releaseName }}
    meta.helm.sh/release-namespace: {{ $.Values.namespace }}
spec:
  components:
  - name: marlowe-sync-{{ $network }}-{{ $instanceName }}
    type: webservice
    traits: 
    - type: postgres-instance
      properties:
        name: marlowe-indexer-{{ $network }}
    properties:
      env:
      - name: HOST
        value: 0.0.0.0
      - name: MARLOWE_SYNC_PORT
        value: "3724"
      - name: MARLOWE_HEADER_SYNC_PORT
        value: "3725"
      - name: MARLOWE_BULK_SYNC_PORT
        value: "3730"
      - name: MARLOWE_QUERY_PORT
        value: "3726"
      - name: MARLOWE_CHAIN_SYNC_HOST
        value: chain-sync-{{ $network }}-{{ $instanceName }}.{{ $.Values.namespace }}
      - name: MARLOWE_CHAIN_SYNC_QUERY_PORT
        value: "3716"
      - name: DB_NAME
        value: chainsync_{{ $instanceName }}_{{ $network }}
      - name: DB_USER
        valueFrom:
          secretKeyRef:
            key: username
            name: chainsync-{{ $network }}-owner-user.{{ $.Values.databaseName }}.credentials.postgresql.acid.zalan.do
            namespace: {{ $.Values.namespace }}
      - name: DB_PASS
        valueFrom:
          secretKeyRef:
            key: password
            name: chainsync-{{ $network }}-owner-user.{{ $.Values.databaseName }}.credentials.postgresql.acid.zalan.do
            namespace: {{ $.Values.namespace }}
      - name: DB_HOST
        value: {{ $instance.databaseHost }}:5432l
      - name: HTTP_PORT
        value: "3784"
      - name: OTEL_EXPORTER_OTLP_ENDPOINT
        value: {{ $.Values.otelExporter.url }}:{{ $.Values.otelExporter.port }}
      - name: OTEL_SERVICE_NAME
        value: marlowe-sync-{{ $network }}-{{ $instanceName }}
      cpu: "0.5"
      image: {{ $instance.repo }}/{{ $instance.org }}/marlowe-sync:{{ $instance.tag }}
      imagePullPolicy: Always
      memory: 1024Mi
      ports:
      - expose: true
        port: 3724
        protocol: TCP
      - expose: true
        port: 3725
        protocol: TCP
      - expose: true
        port: 3726
        protocol: TCP
      - expose: true
        port: 3730
        protocol: TCP
      - expose: true
        port: 3784
        protocol: TCP
  policies:
  - name: local-{{ $.Values.namespace }}
    properties:
      clusters:
      - local
      namespace: {{ $.Values.namespace }}
    type: topology

  workflow:
    mode:
      steps: DAG
    steps:
    - meta:
        alias: Deploy To local-{{ $.Values.namespace }}
      name: local-{{ $.Values.namespace }}
      properties:
        policies:
        - local-{{ $.Values.namespace }}
      type: deploy
{{- end }}
{{- end }}
