{{- range $instanceName, $instance := .Values.instances }}
{{- range $.Values.networks }}
---
apiVersion: core.oam.dev/v1beta1
kind: Application
metadata:
  name: marlowe-tx-{{ . }}-{{ $instanceName }}
  namespace: {{ $.Values.namespace }}
  annotations:
    meta.helm.sh/release-name: {{ $.Values.releaseName }}
    meta.helm.sh/release-namespace: {{ $.Values.namespace }}
spec:
  components:
    - name: marlowe-tx-{{ . }}-{{ $instanceName }}
      type: webservice
      properties:
        env:
        - name: HOST
          value: 0.0.0.0
        - name: PORT
          value: "3723"
        - name: MARLOWE_CHAIN_SYNC_HOST
          value: chain-sync-{{ . }}-{{ $instanceName }}.{{ $.Values.namespace }}
        - name: MARLOWE_CHAIN_SYNC_PORT
          value: "3715"
        - name: MARLOWE_CHAIN_SYNC_QUERY_PORT
          value: "3716"
        - name: MARLOWE_CHAIN_SYNC_COMMAND_PORT
          value: "3720"
        - name: CONTRACT_HOST
          value: marlowe-contract-{{ . }}-{{ $instanceName }}.{{ $.Values.namespace }}
        - name: CONTRACT_QUERY_PORT
          value: "3728"
        - name: HTTP_PORT
          value: "3785"
        cpu: "0.5"
        image: {{ $instance.repo }}/{{ $instance.org }}/marlowe-tx:{{ $instance.tag }}
        imagePullPolicy: Always
        memory: 1024Mi
        ports:
        - expose: true
          port: 3723
          protocol: TCP
        - expose: true
          port: 3785
          protocol: TCP
  policies:
  - name: local-{{ $.Values.namespace }}
    properties:
      clusters:
      - local
      namespace: {{ $.Values.namespace }}
    type: topology

  workflow:
    mode:
      steps: DAG
    steps:
    - meta:
        alias: Deploy To local-{{ $.Values.namespace }}
      name: local-{{ $.Values.namespace }}
      properties:
        policies:
        - local-{{ $.Values.namespace }}
      type: deploy
{{- end }}
{{- end }}
