node.socket
*.prv
*.skey
*.vkey
*.address
beamer*
collective-loan*
coupon-bond-guaranteed*
english-auction*
guessing-game*
revenue-based-loan*
simple-babbage*
stabilized-collective-loan*
token-drop*
reference-script*
